@import "../../styles/mixins";

.FileTreeFolder {
  position: relative;

  &.SelectionActive {
    margin-left: 3cqh;
  }
}

.Button {
  @include file-list-item;
  min-height: 48px;
  min-width: 100%;

  svg {
    width: 24px;
  }
}