@import "../../styles/variables";
@import "../../styles/mixins";

.FileTreeActionControl {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  gap: var(--size-4);
  padding: var(--size-6) var(--size-8) var(--size-6) var(--size-4);
  @include shadow-bottom;

  @media screen and (min-width: $breakpoint-sm) {
    padding: var(--size-6) var(--size-8) 0 var(--size-11);
    box-shadow: none;
    background-color: var(--color-grey-200);
  }

  @media screen and (min-width: $breakpoint-l) {
    padding: var(--size-6) var(--size-8) var(--size-6) var(--size-11);
  }
}

.ActionButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70px;
  max-width: 70px;
  word-break: break-word;
  hyphens: auto;

  & > *:first-child {
    margin-bottom: var(--size-1);
  }

  svg {
    height: 30px;
    path {
      fill: currentColor;
    }
  }

  &[disabled] svg {
    color: var(--color-grey-400);
  }

  &Label {
    font-size: var(--scale-00);
    text-align: center;
    [disabled] & {
      color: var(--color-grey-400);
    }
  }

  &Badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: 12px;
    min-width: 20px;
    min-height: 20px;
    padding: var(--size-1);
    aspect-ratio: 1;
    border-radius: var(--radius-100);
    background-color: var(--color-red);

    [disabled] & {
      background-color: var(--color-grey-500);
    }

    & > * {
      color: var(--color-white);
      display: block;
      font-size: var(--scale-000);
      font-weight: 600;
      line-height: 1;
    }
  }
}
