.FileTreeIterator {

}

.file {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: var(--size-2);
}

.fileActive {
  color: #06c;
}

.file:focus svg {
  color: #06c;
}

.file svg path {
  fill: currentColor;
}

.folder {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: var(--size-2);
}

.folder:focus svg {
  color: #06c;
}

.folder svg path {
  fill: currentColor;
}

.listItem {
}

.listItemCollapsed {
  display: none;
}

.listItem .listItem {
  padding-left: var(--size-5);
}

.listItemForm {

}

.inputWrap {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
}

.reflectFormField {
  visibility: hidden;
}

.input {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}