@import "../../styles/variables";

.FileTree {
  grid-area: a;
  display: flow-root;
  overflow: auto;
  min-height: 100%;
  background-color: var(--color-grey-200);

  * {
    user-select: none;
  }
}

.filetreeWrap {
  padding: var(--size-6);

  @media screen and (min-width: $breakpoint-l) {
    padding-top: 0 var(--size-3) var(--size-3) var(--size-3);
  }
}
