# Ignore node_modules and build artifacts
node_modules
build
dist

# Ignore local environment files
.env
.env.local

# Ignore logs
*.log

# Ignore certificates (for development only)
server/certs/

# Ignore editor and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Ignore Docker-related files
Dockerfile*
.dockerignore
