@import "../../styles/variables";

.Editor {
  grid-area: b;
  position: relative;
  display: flow-root;
  overflow: auto;
  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
  }

  // editor specific styling
  [class*="ql-container"] {
    font-size: 1rem;
    height: auto;

    & > * {
      word-break: break-word;
      hyphens: auto;
    }

    @media screen and (min-width: $breakpoint-sm) {
      padding: var(--size-8);
    }
  }

  [class*="ql-editor"] {

    height: auto;

    @media screen and (min-width: $breakpoint-sm) {
      padding: 0;
      &[class*="ql-blank"]::before {
        left: var(--size-8);
        right: var(--size-8);
      }
    }
  }
}
