@import "../../styles/variables";

.Editor {
  grid-area: b;
  position: relative;
  display: flow-root;
  overflow: auto;
  border-left: 2px solid var(--color-grey-200);
  border-right: 2px solid var(--color-grey-200);

  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  [class*="quill"] {
    min-height: 100%;
    height: auto;
  }

  // editor specific styling
  [class*="ql-container"] {
    font-size: 1rem;
    min-height: 100%;
    height: auto;
    padding: var(--size-1);

    & > * {
      word-break: break-word;
      hyphens: auto;
    }

    @media screen and (min-width: $breakpoint-sm) {
      padding: var(--size-8);
    }
  }

  [class*="ql-editor"] {
    height: auto;
    min-height: 100%;
    left: var(--size-1);
    right: var(--size-1);

    @media screen and (min-width: $breakpoint-sm) {
      padding: 0;
      &[class*="ql-blank"]::before {
        left: var(--size-8);
        right: var(--size-8);
      }
    }
  }
}
