@mixin fileListItem() {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: var(--size-2);

  &Active {
    color: #06c;
  }

  &:focus svg {
    color: #06c;
  }

  & svg path {
    fill: currentColor;
  }
}