@mixin ui-icon() {
  svg {
    min-width: 20px;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &Active {
    color: var(--color-blue-700);
  }

  &:focus svg {
    color: var(--color-blue-700);
  }

  & svg path {
    fill: currentColor;
  }
}

@mixin file-list-item() {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--size-1);
  border: none;
  cursor: pointer;
  margin-bottom: var(--size-2);
  padding: var(--size-2) var(--size-3);
  background-color: var(--color-white);
  border-radius: var(--radius-lg);

  @include ui-icon;
}

@mixin fileSystemCreationForm {
  @include file-list-item;
  position: relative;

  .InputWrap {
    overflow: hidden;
  }

  .InputField {
    display: block;
    width: 100%;
    min-height: 48px;
    padding-right: calc(1cqh + 24px);
  }

  .SubmitButton {
    position: absolute;
    top: 50%;
    right: var(--size-2);
    transform: translateY(-50%);
    aspect-ratio: 1;
    max-height: 30px;
    height: 100%;
    cursor: pointer;

    @include ui-icon;
  }
}