@import "../../styles/variables";

.Navbar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;

  @media screen and (min-width: $breakpoint-l) {
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.ControlsList {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  height: 100%;
  min-width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media screen and (min-width: $breakpoint-l) {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &HasLogo {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &HasLogo > *:last-of-type {
    justify-self: flex-end;
    align-self: center;
  }

  &IsCenter {
    justify-content: space-between;
  }

  &IsCenter > * {
    justify-self: center;
    overflow: auto;
  }

  &IsCenter > *:first-of-type {
    justify-self: flex-start;
  }

  &IsCenter > *:last-of-type {
    justify-self: flex-end;
  }
}

.Logo {
  min-width: 100px;
  font-size: 0.8125rem;
}

.Hide {
  height: 0;
}