.Navbar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;

  @media screen and (min-width: 1024px) {
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.ControlsList {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  min-width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media screen and (min-width: 1024px) {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &HasLogo {
      justify-content: flex-end;
    }
  }

  &HasLogo > *:last-of-type {
    justify-self: flex-end;
  }
}

.Logo {
  min-width: 100px;
}
