.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controlSection {
  flex: 1 1 auto;
}

.splitView {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &Child {
    flex: 1 1 auto;

    &:first-child {
      flex: 0 1 auto;
    }
  }
}