.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controlSection {
  flex: 0 1 auto;
  overflow: auto;
}

.splitView {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}